= render 'quadrant_chooser'

= f.hidden_field :importance

= f.hidden_field :urgency

= f.text_field :task_name

.input-group
	.glyphicon.glyphicon-calendar
	= f.text_field :due_datetime

= f.label :address
= f.text_field :address
%br
= f.label :latitude
= f.text_field :latitude
%br
= f.label :longitude
= f.text_field :longitude
%br

= f.submit "Create"

