- if t.completed == true
	%li.task
		.field
			= f.check_box :completed
		= t.task_name
		- if t.geocoded?
			= link_to "#{Task.near([t.latitude, t.longitude], 8).to_a.count- 1} nearby;", task_path(t)
		= link_to "Details;", task_path(t), method: :get
		= link_to "Edit;", edit_task_path(t), method: :get
		= link_to "X", t, method: :delete