.container
	.row
		.col-sm-6
			.panel.panel-primary
				.panel-heading
					%h3.panel-title
						Edit task
				.panel-body
					= form_for @task do |f|
						.form-group
							.col-md-offset-2.col-md-2.col-md-offset-2
								= render 'quadrant_chooser'
								= f.hidden_field :importance
								= f.hidden_field :urgency
							.col-md-6
								= f.select :status, status_type.each {|a| a.humanize}
						.form-group
							.col-md-offset-2.col-md-8.col-md-offset-2
								%br
								.input-group
									%span.input-group-addon
										.glyphicon.glyphicon-arrow-right
									= f.text_field :task_name, placeholder: 'Quick description', class: 'form-control'
						.form-group
							.col-md-offset-2.col-md-8.col-md-offset-2
								%br
								.input-group
									%span.input-group-addon
										.glyphicon.glyphicon-text-width
									= f.text_area :description, placeholder: 'Full description', class: 'form-control'
						.form-group
							.col-md-offset-2.col-md-8.col-md-offset-2
								%br
								.input-group
									%span.input-group-addon
										.glyphicon.glyphicon-time
									= f.text_field :est_time, placeholder: 'Est time', class: 'form-control'
						.form-group
							.col-md-offset-2.col-md-8.col-md-offset-2
								.input-group
									%span.input-group-addon
										.glyphicon.glyphicon-map-marker
									= f.text_field :address, placeholder: 'Address', class: 'form-control'
						.form-group
							.col-md-offset-2.col-md-8.col-md-offset-2
								.input-group
									%span.input-group-addon
										.glyphicon.glyphicon-calendar
									= f.text_field :due_datetime, placeholder: 'Due date and time', class: 'form-control'
						.form-group
							.col-md-offset-2.col-md-8.col-md-offset-2
								%br
								%button.btn.btn-warning.btn-block
									Edit