- content_for(:title, 'Full Task description')

.container
  %legend
    = @task.task_name
    = link_to 'Delete', @task, method: "delete", :class => "btn btn-xs btn-danger"
    .col-md-12
      %h6.col.md-4
      - if @task.description
        %b= "Description: "
        = @task.description
        %br
      - if @task.status
        %b= "Current Status: " 
        = @task.status
        %br
      - if @task.due_datetime
        %b= "Due Date: " 
        = format_date(@task.due_datetime)
        %br
      - if @task.address
        = "At " + @task.address




- if @task.geocoded?
  %h4= "Distance from current location: #{@task.distance_from([33.848869199999996, -84.3735468]).round(2)} miles"
  %h3 Nearby tasks:
  - @location = [@task.latitude, @task.longitude]
  - Task.near(@location, 5).each do |a|
    - unless @task.id == a.id
      = link_to "#{a.address} (#{a.distance.round(2)} miles) -- #{a.task_name}", task_path(a)
    %br


%br
%br
.container
  = link_to 'Return to Tasks', tasks_path, :class => "btn btn-success"