- content_for(:title, 'Full Task description')

.container
  .row
    .col-md-offset-2.col-md-8.col-md-offset-2
      %legend
        = @task.task_name
        = link_to "Edit task", edit_task_path(@task), :class => "btn btn-xs btn-info"
        = link_to 'Delete', @task, method: "delete", :class => "btn btn-xs btn-danger"
        = link_to 'Return to Tasks', tasks_path, :class => "btn btn-xs btn-success"
        .col-md-12
          %h6.col.md-4
          - if @task.description
            %b= "Description: "
            = @task.description
            %br
          - if @task.status
            %b= "Current Status: " 
            = @task.status
            %br
          - if @task.due_datetime
            %b= "Due Date: " 
            = format_date(@task.due_datetime)
            %br
          - if @task.address
            = "At " + @task.address

  .row
    .col-md-offset-2.col-md-8.col-md-offset-2
      %div
        #map{style: "width: 100%; height: 500px;"}
          = render "map"

  - if @task.geocoded?
    
    .row
      .col-md-offset-2.col-md-8.col-md-offset-2
        %h4= "Distance from current location: #{@task.distance_from([33.848869199999996, -84.3735468]).round(2)} miles"
      .col-md-offset-2.col-md-8.col-md-offset-2
        .panel.panel-primary
          .panel-heading
            %h3.panel-title
              Nearby Tasks
          .panel-body
            - if @task.geocoded?
              - @location = [@task.latitude, @task.longitude]
              - Task.near(@location, 10).each do |a|
                - unless @task.id == a.id
                  - response = HTTParty.get("http://dev.virtualearth.net/REST/V1/Routes?wp.0=#{@task.street_address.gsub(' ','%20')}%20#{@task.city},#{@task.state}&wp.1=#{a.street_address.gsub(' ','%20')}%20#{a.city},#{a.state}&optmz=timeWithTraffic&key=Ah_f4EtXujIKRwM2DMfcrhaL_XJ0G_Ob_Yyy1nlDf0X_LYGhJilPBjWSfI91E3MV")
                  - unless response == nil || response == []
                    - travel_time = response["resourceSets"][0]["resources"][0]["travelDurationTraffic"]
                  %li
                    = link_to "#{a.address} (#{distance_of_time_in_words(travel_time)} driving time) -- #{a.task_name}", task_path(a)


          %br


%br
.container
  .row
    .col-md-offset-2.col-md-8.col-md-offset-2
      = link_to 'Return to Tasks', tasks_path, :class => "btn btn-success"