- content_for(:title, 'Full Task description')

.container
  .row
    .col-md-offset-2.col-md-8.col-md-offset-2
      %legend
        = @task.task_name
        = link_to "Edit task", edit_task_path(@task), :class => "btn btn-xs btn-info"
        = link_to 'Delete', @task, method: "delete", :class => "btn btn-xs btn-danger"
        = link_to 'Return to Tasks', tasks_path, :class => "btn btn-xs btn-success"
        .col-md-12
          %h6.col.md-4
          - if @task.description
            %b= "Description: "
            = @task.description
            %br
          - if @task.status
            %b= "Current Status: " 
            = @task.status
            %br
          - if @task.due_datetime
            %b= "Due Date: " 
            = format_date(@task.due_datetime)
            %br
          - if @task.address
            = "At " + @task.address

  .row
    .col-md-offset-2.col-md-8.col-md-offset-2
      %div
        #map{style: "width: 100%; height: 500px;"}
          = render "map"

  - if @task.geocoded?
    
    .row
      .col-md-offset-2.col-md-8.col-md-offset-2
        %h4= "Distance from current location: #{@task.distance_from([33.848869199999996, -84.3735468]).round(2)} miles"
      .col-md-offset-2.col-md-8.col-md-offset-2
        .panel.panel-primary
          .panel-heading
            %h3.panel-title
              Nearby Tasks
          .panel-body
            - if @task.geocoded?
              - @tasks.each do |a|
                %li
                  = link_to "#{a.address} (#{distance_of_time_in_words(travel_time(@task, a))} driving time) -- #{a.task_name}", task_path(a)

               
                    


          %br


%br
.container
  .row
    .col-md-offset-2.col-md-8.col-md-offset-2
      = link_to 'Return to Tasks', tasks_path, :class => "btn btn-success"